.dashboard #stat {
    margin-right: 22px;
}

.users-link {
    color: rgb(29, 27, 27);
    text-decoration: none !important;
}

.dashboard .courb {
    margin-right: 10px;
}

.dashboard a {
    text-decoration: none !important;
}

.dashboard .span {
    text-transform: lowercase !important;
}

.dashboard #courb{
    margin-right: 20px;
}
.btn-voir-tout:hover{
    background-color: #fff !important;
    color: #0c50a2 !important;
    border: 1px solid #0c50a2;
}
